# Project
results/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
.coverage.*

# Profiling data
*.lprof

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
*.csv
